body {
    background-color:black;
    color:white;
}

.imgPort {
    top:0;
    height:300px;
}

div {
    text-align:center;
}

#bandPic {
    width: 350px;
    height: 300px;
}

#bandName {
    width: 300px;
}

.col-sm {
    border-style:dotted;
    border-color:color;
    border-width:5px;
    padding: 20px 0;
    margin-bottom: 20px;
}

