@font-face {
    font-family: 'AllAgesDEMO';
    src: url("kc-fonts_all-ages/AllAgesDEMO.ttf");
}
/*keeping this font*/
@font-face {
    font-family: "CF PunkRockShow";
    src: url("cloutierfontes_punkrockshow/CF PunkRockShow.ttf")
}

@font-face {
    font-family: "CFPunkForever";
    src: url("cloutierfontes_cf-punk-forever/CFPunkForever.ttf")
}
/*DO NOT LIKE*/
@font-face {
    font-family: "CFPunkisnotDead-Regular";
    src: url("cloutierfontes_cf-punk-is-not-dead/CFPunkisnotDead-Regular.ttf")
}

body {
    background-color:black;
    color:white;
    text-align:center;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.imgPort {
    top:0;
    height:175px;
}

h1 {
    margin:auto;
    font-size: 30px;
}

#bandPic {
    width: 300px;
    height: 250px;
    display: flex;
    margin:auto;
    margin-bottom:10px;
    margin-top: 0;
}

#bandName {
    font-family: "AllAgesDEMO";
    font-size: 40px;
}

.col-sm {
    border-style:dotted;
    border-color:white;
    border-width:5px;
    padding: 20px 0;
    margin-bottom: 20px;
}

p{
    padding:5px;

}

#answerArray, #guessedLetters {
    letter-spacing: .25em;
}

#guessedLetters {
    margin: 20px;
    word-break: break-all;
}

#wins, #losses, #answerArray, #guessedLetters {
    font-family:"Gaegu", cursive;
}

#numGuesses {
    font-weight: bold;
}